@use "config";

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  word-break: break-word;
  box-sizing: border-box;
}


/* =================================
header
 ================================= */

.header {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  &__ttl-wrap {
    display: flex;
    position: absolute;
    top: 20px;
    left: 24px;
    align-items: flex-end;
    gap: 8px;
    z-index: 101;


    @include tab {
      flex-direction: column;
      align-items: center;
      top: 8px;
      left: 12px;
      gap: 2px;

    }



    span {
      white-space: nowrap;
      font-size: 24px;
      line-height: 22px;

      @include tab {
        font-size: 13px;
      }
    }



  }

  &__logo {
    width: 150px;


  }


  &__btn-wrap {
    position: fixed;
    z-index: 101;
    right: 60px;
    top: 20px;
    width: 250px;


    @include tab {
      transform: scale(0.6);
      right: -42px;
      top: -2px;
    }
  }



}






/* =================================
main-visual
 ================================= */

.main-visual {
  background: linear-gradient(90deg, #f0f6f9 0%, #f0f6f9 50%, #144a66 50%, #144a66 100%);


  &__bg {
    background-image: url(../img/main-visual-bg.jpg);
    background-size: cover;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 680px;
    position: relative;

    @include pc {
      background-image: url(../img/main-visual-bg-sp.jpg);
      background-position: center;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(131, 175, 209, 0.6);
      }
    }



  }

  &__content {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    z-index: 10;




    @include tab {
      top: 67%;
      left: 50%;
      width: 90%;

    }
  }

  &__top {
    max-width: 320px;
    margin: 0px auto 0;
    z-index: 10;
    animation-name: zoomInAnime;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    filter: drop-shadow(4px 4px 4px #4c4c4c);
    opacity: 0;

    @include tab {
      max-width: 200px;
    }
  }




  &__bottom {
    margin: 40px 0 0 40px;

    animation-name: zoomInAnime;
    animation-duration: 1.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    filter: drop-shadow(4px 4px 4px #4c4c4c);
    opacity: 0;

    @include tab {
      margin: 40px 0 0;
      text-align: center;

    }
  }


  &__bottom-text {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
    white-space: nowrap;


    &--middle {
      font-size: 40px;

      span {
        font-size: 24px;
      }

    }
  }

  @keyframes zoomInAnime {
    from {
      opacity: 0;
      transform: scale(0.6);
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}


/* =================================
lead-section
 ================================= */

.lead-section {

  background-color: #000;
  padding: 80px 12px;

  @include tab {
    padding: 40px 12px;

  }


  &__top-text {
    color: #f0ea30;
    text-align: center;
    margin: 0 0 20px;
    font-size: 48px;

    @include tab {
      font-size: 28px;
    }

  }

  &__flex {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px;


    @include tab {
      flex-direction: column;
    }
  }

  &__bottom-img {
    width: 80px;

  }


  &__bottom-text {
    color: #fff;
  }

  &__bnr {
    display: block;
    max-width: 980px;
    margin: 0 auto;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================
AIブログマーケティングとは？
 ================================= */

.about-section {

  &__ttl-wrap {
    padding: 80px 12px 0;
    background-image: url(../img/about-section-bg.jpg);
    margin: 0 0 40px;

    @include tab {
      padding: 40px 12px 0;

    }
  }

  &__ttl {
    text-align: center;
    margin: 0 0 40px;
    font-size: 48px;

    @include tab {
      font-size: 28px;
    }
  }

  &__ttl-bottom-img {
    max-width: 840px;
    margin: 0 auto;
  }

  &__lead {
    text-align: center;
    font-size: 22px;
    padding: 0 12px;

    @include tab {
      text-align: left;
      font-size: 18px;

    }
  }

  &__item {
    margin: 140px 0 0;
    padding: 0 12px;

    @include tab {
      margin: 110px 0 0;

    }
  }

  &__item-ttl {
    text-align: center;
    font-size: 28px;
    position: relative;
    margin: 0 0 24px;

    &:before {
      content: url(../img/about-section-item-ttl01.png);
      position: absolute;
      top: -23%;
      left: 50%;
      transform: translate(-50%, -50%)scale(0.5);
      z-index: -1;

    }

    @include tab {
      font-size: 22px;
      margin: 0 0 20px;

      &:before {
        top: -25%;
        transform: translate(-50%, -50%)scale(0.4);
      }
    }


    &--second {
      &:before {
        content: url(../img/about-section-item-ttl02.png);
      }

      span {
        display: block;
        font-size: 12px;
      }
    }

    &--third {
      &:before {
        content: url(../img/about-section-item-ttl03.png);
      }
    }
  }

  &__item-text {
    max-width: 520px;
    margin: 0 auto 24px;
  }

  &__item-img {
    max-width: 640px;
    margin: 0 auto;
  }

  &__bnr {
    display: block;
    max-width: 980px;
    margin: 80px auto;

    @include tab {
      margin: 40px auto;

    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================
導入のメリット
 ================================= */

.merit-section {
  background-color: #000;
  overflow: hidden;



  &__ttl-wrap {
    padding: 100px 12px;
    background-image: url(../img/merit-section-bg.jpg);
    margin: 0 auto 40px;
    max-width: 1200px;
    background-size: cover;
    position: relative;

    @include tab {
      padding: 80px 12px 40px;
      margin: 0 auto;

    }
  }

  &__ttl {
    text-align: left;
    max-width: 500px;
    margin: 0 auto 40px;
    font-size: 48px;
    color: #fff;
    transform: translateX(280px);

    span {
      font-size: 34px;
    }

    @include tab {
      font-size: 28px;
      transform: translateX(0);
      text-align: center;
      margin: 0 auto;
      font-size: 32px;

      span {
        font-size: 24px;
      }
    }
  }

  &__line {
    position: absolute;
    top: -377px;
    left: -17px;
    transform: scale(0.65);

    @include tab {
      display: none;
    }
  }

  &__content {
    margin: 0 auto 40px;
    max-width: 1200px;
    padding: 50px 12px;

    @include tab {
      padding: 24px 12px;

    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 0 160px 180px;

    @include tab {
      flex-direction: column;
      margin: 0 auto 40px;
      gap: 12px;

    }


    &--second {
      margin: 0 0 152px 280px;

      @include tab {
        margin: 0 auto 40px;
      }
    }

    &--third {
      margin: 0 0 0 180px;

      @include tab {
        margin: 0 auto;
      }

    }
  }

  &__item-left {}

  &__item-img {
    width: 150px;
    margin: 0 auto 20px;

    @include tab {
      width: 100px;
      margin: 0 auto 8px;

    }
  }

  &__item-ttl {
    color: #fff;
    text-align: center;
    font-size: 32px;

    @include tab {
      font-size: 24px;
    }
  }

  &__item-text {
    color: #fff;

  }


  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================
改善事例
 ================================= */

.case-section {
  background-image: url(../img/case-sectio-bg.jpg);
  background-size: cover;
  padding: 80px 12px 0;


  @include tab {
    padding: 40px 12px;

  }

  &__ttl-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 640px;
    margin: 0 auto 80px;
    border-top: #f0ea30 1px solid;
    border-bottom: #f0ea30 1px solid;
    padding: 24px;


    @include tab {
      padding: 12px;
      gap: 16px;

    }

  }

  &__ttl {
    color: #f0ea30;
    font-size: 60px;

    @include tab {
      font-size: 32px;
    }
  }

  &__ttl-img {
    width: 180px;

    @include tab {
      width: 100px;

    }
  }

  &__top-content {
    max-width: 780px;
    margin: 0 auto 60px;
  }

  &__top-lead {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin: 0 0 60px;

    @include tab {
      flex-direction: column;
      gap: 12px;

    }
  }

  &__top-ttl {
    max-width: 300px;
  }

  &__top-date {

    display: flex;
    gap: 8px;


    span {
      display: inline-block;
      width: 100px;

      @include tab {
        width: 70px;
      }
    }

    p {
      color: #53c2ef;
      font-size: 24px;

      @include tab {
        font-size: 16px;

      }
    }

  }

  &__top-list {}

  &__top-list-item {
    color: #fff;
    font-size: 52px;
    max-width: 770px;
    margin: 0 auto 40px;
    line-height: 1.3;

    @include tab {
      font-size: 22px;
      line-height: 1.8;
      margin: 0 auto 24px;


    }


    span {
      color: #f0ea30;
    }
  }

  &__top-list-span {
    display: block;
    text-align: right;
    font-size: 20px;
    line-height: 1;

    @include sp {
      font-size: 15px;
      text-align: left;
      margin: 0 0 0 30px;
    }

    &--white {
      color: #fff !important;
      font-size: 14px;

      @include tab {
        text-align: right;

      }
    }

  }

  &__bottom-content {
    max-width: 780px;
    margin: 0 auto 80px;

    @include tab {
      margin: 0 auto 40px;

    }
  }

  &__bottom-text {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin: 0 0 4px;

    @include tab {
      font-size: 20px;

    }

  }

  &__bottom-img {
    margin: 0 0 40px;
  }

  &__bottom-list {
    max-width: 300px;
    margin-left: auto;
    position: relative;

    @include tab {
      margin-top: 100px;
    }

    &:before {
      content: url(../img/case-section-list-img.png);
      position: absolute;
      top: -21px;
      left: -182px;
      transform: scale(0.6);

      @include tab {
        transform: scale(0.4) rotate(-11deg);
        top: -107px;
        left: -105px;

      }
    }



  }

  &__bottom-list-item {
    color: #fff;

    &--last {
      font-size: 18px;
      margin: 0 0 0 20px;

      span {
        font-size: 26px;
        font-weight: bold;
      }
    }

  }

  &__bnr {
    display: block;
    max-width: 980px;
    margin: 80px auto 24px;

    @include tab {
      margin: 40px auto 12px;

    }
  }

  &__dec {
    max-width: 1200px;
    margin: 0 auto;

    @include tab {
      display: none;
    }

    img {
      display: inline-block;
      max-width: 300px;
      width: 30%;
    }
  }


}


/* =================================
お客様の声
 ================================= */

.voice-section {
  padding: 80px 12px 0;

  @include tab {
    padding: 40px 12px 0;
  }

  &__ttl {
    max-width: 640px;
    margin: 0 auto 80px;
    border-top: #53c2ef 2px solid;
    border-bottom: #53c2ef 2px solid;
    padding: 12px;
    color: #53c2ef;
    font-size: 60px;
    text-align: center;
    position: relative;

    @include tab {
      font-size: 32px;
      padding: 10px;
      max-width: 90%;
      margin: 0 auto 40px;


    }

    &::before {
      content: url(../img/voice-section-ttl01.png);
      position: absolute;
      top: -56px;
      left: -167px;
      transform: scale(0.5);

      @include pc {
        left: -96px;
        transform: scale(0.4);
      }

      @include tab {
        left: -116px;
        top: -90px;
        transform: scale(0.3);
      }
    }

    &::after {
      content: url(../img/voice-section-ttl02.png);
      position: absolute;
      top: -121px;
      right: -234px;
      transform: scale(0.5);

      @include pc {
        top: -167px;
        right: -158px;
        transform: scale(0.3);
      }

      @include tab {
        transform: scale(0.2);
        top: -171px;
        right: -182px;
      }
    }

  }

  &__item {
    max-width: 640px;
    margin: 0 auto 80px;

    @include tab {
      margin: 0 auto 60px;

    }
  }

  &__item-name {

    @include tab {
      max-width: 90%;
      margin: 0 auto;
    }
  }


  &__item-name-flex {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: -20px 0 60px 53px;

    @include tab {
      margin: 8px 0 24px 0;
      gap: 12px;

    }
  }



  &__item-date {
    width: 70px;
    padding: 3px 0 0;

    @include tab {
      width: 50px;
      padding: 5px 0 0;

    }
  }

  &__item-name-text {
    color: #53c2ef;
    font-size: 20px;
    line-height: 1.5;

    @include tab {
      font-size: 16px;
    }
  }

  &__text-wrap {
    max-width: 550px;
    margin: 0 auto;
  }

  &__item-ttl {
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    margin: 0 0 24px;

    @include tab {
      font-size: 18px;

    }


    span {
      color: #53c2ef;
      display: block;
      font-size: 16px;
      text-align: left;
      margin: 0 0 0 43px;

      @include tab {
        margin: 0 0 0 0;

      }

    }
  }


  &__bottom-text-ttl {
    border-top: #53c2ef 1px solid;
    line-height: 1;
    margin: 0 0 12px;

    span {
      font-size: 14px;
      color: #fff;
      background-color: #53c2ef;
      padding: 6px 12px;
      line-height: 1;
      display: inline-block;

    }
  }

  &__dec {
    max-width: 1200px;
    margin: 0 auto;
    text-align: right;

    @include tab {
      display: none;
    }

    img {
      display: inline-block;
      max-width: 300px;
      width: 30%;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

}


// 隠れるテキスト
.accordion {
  position: relative;
  margin: 0 0 40px;
}

/* ボタン */
.accordion-btn {
  background-color: #53c2ef;
  border: 1px solid #53c2ef;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  left: 0;
  margin: auto;
  padding: 0px 8px;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all .2s;
  width: fit-content;
  z-index: 1;
}

/* 続きを読むボタンの表記 */
.accordion-btn::after {
  content: "続きを読む";
}

/* ボタンhover時のスタイル */
.accordion-btn:hover {
  background-color: #fff;
  color: #53c2ef;
}

.accordion-text {
  overflow: hidden;
  /* テキストを隠す */
  position: relative;
}

/* 最初に見えてるテキストエリアの高さ */
.accordion-text.is-hide {
  height: 100px;
}

/* テキストをグラデーションで隠す */
.accordion-text::before {
  background-image: linear-gradient(177deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.52) 20%, rgba(255, 255, 255, 1));
  bottom: 0;
  content: "";
  height: 60px;
  /* グラデーションで隠す高さ */
  position: absolute;
  width: 100%;
}

/* 閉じるボタンの位置 */
.accordion-btn.is-show {
  bottom: -2em;
}

/* 閉じるボタンの表記 */
.accordion-btn.is-show::after {
  content: "閉じる";
}

/* 続きを見るボタンをクリックしたらテキストを隠しているグラデーションを消す */
.accordion-btn.is-show+.accordion-text::before {
  display: none;
}

/* =================================
料金プラン
 ================================= */

.plan-section {

  padding: 80px 12px;
  background-color: #000;

  @include tab {
    padding: 40px 24px 12px;
  }

  &__ttl {
    color: #fff;
    text-align: center;
    font-size: 44px;
    margin: 0 0 80px;

    @include tab {
      font-size: 32px;
      margin: 0 0 40px;
    }
  }

  &__item {
    max-width: 580px;
    margin: 0 auto 80px;

    @include sp {
      margin: 0 auto 60px;

    }
  }

  &__lead {
    color: #fff;
    text-align: right;
    font-size: 22px;
    margin: 0 0 16px;
    white-space: nowrap;

    @include tab {
      font-size: 18px;
      text-align: left;
      margin: 0 0 24px 110px;

    }

    @include sp {
      font-size: 13px;
      margin: 0 0 8px 44px;

    }

    &--even {
      text-align: left;

    }

    &--item04 {
      text-align: left;
      margin: 0 0 0 130px;
      font-size: 32px;

      @include tab {
        margin: 0 0 0 130px;
        font-size: 22px;
      }

      @include sp {
        font-size: 18px;
        text-align: center;
        margin: 0 0 4px;
      }
    }


  }

  &__box {
    border: #53c2ef 1px solid;
    position: relative;
    padding: 40px 60px;

    @include tab {
      padding: 24px;
    }

    @include sp {
      padding: 18px;
    }


  }

  &__item-num {
    position: absolute;
    max-width: 180px;
    top: -86px;
    left: -67px;

    @include tab {
      max-width: 120px;
      top: -86px;
      left: -23px;
    }

    @include sp {
      max-width: 60px;
      top: -50px;

    }

    &--even {
      left: auto;
      right: -67px;

      @include tab {
        right: auto;
        left: -23px;

      }

    }

  }

  &__item-ttl {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;

    span {
      display: block;
      color: #53c2ef;
      font-size: 60px;
      font-family: 'Bodoni 72 Oldstyle', 'Times New Roman', 'Bodoni 72', serif;
      font-weight: bold;
      line-height: 0.9;

      @include sp {
        font-size: 44px;
      }
    }
  }

  &__place {
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.2rem;
    white-space: nowrap;

    @include sp {
      font-size: 38px;
    }

  }

  &__place-span-left {
    font-size: 24px;
    writing-mode: vertical-rl;
    color: #53c2ef;
    letter-spacing: 0rem;
    transform: translateY(6px);

    @include sp {
      font-size: 16px;
    }

  }

  &__place-span-right {
    font-size: 24px;
    color: #53c2ef;
    letter-spacing: 0rem;

    @include sp {
      font-size: 16px;
    }
  }

  &__place-span-center {
    font-size: 32px;
    letter-spacing: 0rem;

  }

  &__star-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 0 0 20px;

    @include sp {
      gap: 4px;

    }
  }

  &__star-text {
    color: #fff;
    font-size: 26px;
    white-space: nowrap;

    @include sp {
      font-size: 14px;

    }

  }

  &__star-img {
    width: 44px;

    &--three {
      width: 120px;

    }

    &--five {
      width: 200px;
    }
  }

  &__words {
    color: #fff;
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;

    span {
      color: #f0ea30;
    }

    @include sp{
      font-size: 12px;
      }
  }

  &__item03-text-wrap {
    margin: 40px 0 0;
    border-top: #53c2ef 1px solid;
    border-bottom: #53c2ef 1px solid;
    padding: 12px 24px;

    @include sp {
      padding: 12px;
      margin: 24px 0 0;

    }

  }

  &__item03-text-top {
    color: #53c2ef;
    text-align: center;
  }

  &__item03-span01 {
    color: #fff;
    font-size: 24px;
  }

  &__item03-span02 {
    font-size: 14px;

  }


  &__item03-text-bottom {
    color: #fff;
    font-size: 14px;

  }

  &__item04-text {
    text-align: center;
    color: #f0ea30;
    font-size: 30px;

    @include tab {
      font-size: 18px;

    }
  }

  &__place-item04-img {}

  &__ {}


  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
オプション料金
 ================================= */

.option-section {

  padding: 80px 12px;
  background-color: #1a1a1a;

  @include tab {
    padding: 40px 24px 12px;
  }

  &__ttl {
    color: #fff;
    text-align: center;
    font-size: 44px;
    margin: 0 0 80px;

    @include tab {
      font-size: 32px;
      margin: 0 0 40px;
    }
  }

  &__item {
    max-width: 580px;
    margin: 0 auto 80px;

    @include sp {
      margin: 0 auto 60px;

    }
  }

  &__lead {
    color: #fff;
    text-align: right;
    font-size: 22px;
    margin: 0 0 16px;
    white-space: nowrap;

    @include tab {
      font-size: 18px;
      text-align: center;
      margin: 0 0 8px ;

    }

    @include sp {
      font-size: 13px;

    }

    &--even {
      text-align: left;

      @include tab{
        text-align: center;
      }
    }

    &--item04 {
      text-align: left;
      margin: 0 0 0 130px;
      font-size: 32px;

      @include tab {
        margin: 0 0 0 130px;
        font-size: 22px;
      }

      @include sp {
        font-size: 18px;
        text-align: center;
        margin: 0 0 4px;
      }
    }


  }

  &__box {
    border: #53c2ef 1px solid;
    position: relative;
    padding: 40px 60px;

    @include tab {
      padding: 24px;
    }

    @include sp {
      padding: 18px;
    }


  }

  &__item-num {
    position: absolute;
    max-width: 150px;
    top: -52px;
    left: -2px;

    @include tab {
      max-width: 120px;
      top: -1px;
    }

    @include sp {
      max-width: 60px;

    }

    &--even {
      left: auto;
      right: -1px;



    }

  }

  &__item-ttl {
    color: #fff;
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;

    @include sp {
      font-size: 16px;
    }

    span {
      color: #53c2ef;
      font-size: 60px;
      font-family: 'Bodoni 72 Oldstyle', 'Times New Roman', 'Bodoni 72', serif;
      font-weight: bold;
      vertical-align: middle;
      margin: 0 12px 0 0;

      @include sp {
        font-size: 44px;
      }
    }

    &--block {

      span {
        display: block;
      }

    }
  }

  &__place {
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.2rem;
    white-space: nowrap;
    line-height: 1.6;
    margin: 0 0 12px;


    &--item04 {
      margin: 0 auto 40px;
      width: 300px;
      position: relative;

    }


    @include sp {
      font-size: 38px;
    }

  }

  &__place-span-left {
    font-size: 24px;
    writing-mode: vertical-rl;
    color: #53c2ef;
    letter-spacing: 0rem;
    transform: translateY(6px);

    @include sp {
      font-size: 16px;
    }

  }

  &__place-span-right {
    font-size: 24px;
    color: #53c2ef;
    letter-spacing: 0rem;

    @include sp {
      font-size: 16px;
    }
  }

  &__place-span-center {
    font-size: 32px;
    letter-spacing: 0rem;

  }

  &__words {
    color: #fff;
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;

    span {
      color: #53c2ef;
      display: block;
    }

    @include sp{
    font-size: 12px;
    }
  }

  &__item03-text-wrap {
    margin: 40px 0 0;
    border-top: #53c2ef 1px solid;
    border-bottom: #53c2ef 1px solid;
    padding: 12px 24px;

    @include sp {
      padding: 12px;
      margin: 24px 0 0;

    }

  }

  &__item03-text-top {
    color: #53c2ef;
    text-align: center;
  }

  &__item03-span01 {
    color: #fff;
    font-size: 24px;
  }

  &__item03-span02 {
    font-size: 14px;

  }


  &__item03-text-bottom {
    color: #fff;
    font-size: 14px;

  }

  &__place-item04-img {
    position: absolute;
    width: 300px;
    bottom: -22px;
    left: 4px;


    @include tab{
      width: 260px;
      bottom: -27px;

    }

    @include sp{
      width: 240px;
      bottom: -18px;
      left: 19px;

    }
  }


  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================
製品仕様一覧
 ================================= */

.spec-section {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
よくあるお問合せ
 ================================= */

.faq-section {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
お問合せ
 ================================= */

.contact-section {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}



/* =================================
フッター
 ================================= */

.footer {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  padding: 60px 16px 24px;
  color: #fff;
  position: relative;

  p,
  a {
    color: #fff;
  }

  &__logo-wrap {
    display: flex;
    max-width: 500px;
    margin: 0 auto 40px;
    align-items: center;
    gap: 16px;

    @include tab {
      flex-direction: column;
    }
  }

  &__logo-left {

    @include tab {
      max-width: 280px;
    }
  }

  &__logo-right {
    @include tab {
      max-width: 280px;
    }
  }

  &__address-wrap {
    display: flex;
    max-width: 560px;
    margin: 0 auto 40px;
    border-left: #bababa 1px solid;
    border-right: #bababa 1px solid;
    align-items: flex-start;

    @include tab {
      flex-direction: column;
      border-left: none;
      border-right: none;
      max-width: 280px;
      gap: 40px;
    }
  }

  &__address-left {
    width: 50%;
    padding: 10px 0 10px 40px;
    border-right: #bababa 1px solid;


    @include tab {
      width: 100%;
      border-right: none;
      padding: 0;
    }
  }

  &__address-right {
    width: 50%;
    padding: 10px 0 10px 40px;

    @include tab {
      width: 100%;
      border-right: none;
      padding: 0;
    }
  }


  &__address-ttl {
    margin: 0 0 20px;

    @include tab {
      margin: 0 0 8px;
    }
  }

  &__address-table {

    th {
      font-weight: normal;
      padding: 0 20px 0 0;
      white-space: nowrap;
    }
  }

  &__menu-wrap {
    display: flex;
    justify-content: center;
    gap: 16px;

    @include tab {
      flex-wrap: wrap;
      gap: 8px;

    }
  }

  &__menu-item {

    @include tab {
      margin: 0 8px;
    }

    &--copy {
      @include tab {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__go-top {
    width: 80px;
    position: absolute;
    right: 20px;
    bottom: 100px;

    @include tab {
      width: 50px;
      right: 20px;
      bottom: 100px;

    }
  }
}