@charset "UTF-8";
* {
  word-break: break-word;
  box-sizing: border-box;
}

body {
  font-family: "Optima", "Segoe UI", "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  line-height: 1.8;
}

p {
  font-size: clamp(0.875rem, 0.782rem + 0.39vw, 1.125rem);
  color: #080808;
}

a {
  font-size: clamp(0.875rem, 0.782rem + 0.39vw, 1.125rem);
  color: #080808;
}
a:hover {
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: clamp(0.875rem, 0.782rem + 0.39vw, 1.125rem);
}

th,
td {
  font-size: clamp(0.875rem, 0.782rem + 0.39vw, 1.125rem);
}

.pc-block {
  display: block;
}
@media (max-width: 820px) {
  .pc-block {
    display: none;
  }
}

.sp-block {
  display: none;
}
@media (max-width: 820px) {
  .sp-block {
    display: block;
  }
}

.fade-in-js {
  transform: scale(0.9);
  transition: all 0.5s 0s linear;
  opacity: 0;
}
.fade-in-js.action {
  transform: scale(1);
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

* {
  word-break: break-word;
  box-sizing: border-box;
}

/* =================================
header
 ================================= */
.header {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.header__ttl-wrap {
  display: flex;
  position: absolute;
  top: 20px;
  left: 24px;
  align-items: flex-end;
  gap: 8px;
  z-index: 101;
}
@media (max-width: 820px) {
  .header__ttl-wrap {
    flex-direction: column;
    align-items: center;
    top: 8px;
    left: 12px;
    gap: 2px;
  }
}
.header__ttl-wrap span {
  white-space: nowrap;
  font-size: 24px;
  line-height: 22px;
}
@media (max-width: 820px) {
  .header__ttl-wrap span {
    font-size: 13px;
  }
}
.header__logo {
  width: 150px;
}
.header__btn-wrap {
  position: fixed;
  z-index: 101;
  right: 60px;
  top: 20px;
  width: 250px;
}
@media (max-width: 820px) {
  .header__btn-wrap {
    transform: scale(0.6);
    right: -42px;
    top: -2px;
  }
}

/* =================================
main-visual
 ================================= */
.main-visual {
  background: linear-gradient(90deg, #f0f6f9 0%, #f0f6f9 50%, #144a66 50%, #144a66 100%);
}
.main-visual__bg {
  background-image: url(../img/main-visual-bg.jpg);
  background-size: cover;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 680px;
  position: relative;
}
@media (max-width: 1120px) {
  .main-visual__bg {
    background-image: url(../img/main-visual-bg-sp.jpg);
    background-position: center;
  }
  .main-visual__bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(131, 175, 209, 0.6);
  }
}
.main-visual__content {
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
@media (max-width: 820px) {
  .main-visual__content {
    top: 67%;
    left: 50%;
    width: 90%;
  }
}
.main-visual__top {
  max-width: 320px;
  margin: 0px auto 0;
  z-index: 10;
  animation-name: zoomInAnime;
  animation-duration: 1.2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  filter: drop-shadow(4px 4px 4px #4c4c4c);
  opacity: 0;
}
@media (max-width: 820px) {
  .main-visual__top {
    max-width: 200px;
  }
}
.main-visual__bottom {
  margin: 40px 0 0 40px;
  animation-name: zoomInAnime;
  animation-duration: 1.2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  filter: drop-shadow(4px 4px 4px #4c4c4c);
  opacity: 0;
}
@media (max-width: 820px) {
  .main-visual__bottom {
    margin: 40px 0 0;
    text-align: center;
  }
}
.main-visual__bottom-text {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 2px 2px 0px rgb(255, 255, 255);
  white-space: nowrap;
}
.main-visual__bottom-text--middle {
  font-size: 40px;
}
.main-visual__bottom-text--middle span {
  font-size: 24px;
}
@keyframes zoomInAnime {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* =================================
lead-section
 ================================= */
.lead-section {
  background-color: #000;
  padding: 80px 12px;
}
@media (max-width: 820px) {
  .lead-section {
    padding: 40px 12px;
  }
}
.lead-section__top-text {
  color: #f0ea30;
  text-align: center;
  margin: 0 0 20px;
  font-size: 48px;
}
@media (max-width: 820px) {
  .lead-section__top-text {
    font-size: 28px;
  }
}
.lead-section__flex {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px;
}
@media (max-width: 820px) {
  .lead-section__flex {
    flex-direction: column;
  }
}
.lead-section__bottom-img {
  width: 80px;
}
.lead-section__bottom-text {
  color: #fff;
}
.lead-section__bnr {
  display: block;
  max-width: 980px;
  margin: 0 auto;
}

/* =================================
AIブログマーケティングとは？
 ================================= */
.about-section__ttl-wrap {
  padding: 80px 12px 0;
  background-image: url(../img/about-section-bg.jpg);
  margin: 0 0 40px;
}
@media (max-width: 820px) {
  .about-section__ttl-wrap {
    padding: 40px 12px 0;
  }
}
.about-section__ttl {
  text-align: center;
  margin: 0 0 40px;
  font-size: 48px;
}
@media (max-width: 820px) {
  .about-section__ttl {
    font-size: 28px;
  }
}
.about-section__ttl-bottom-img {
  max-width: 840px;
  margin: 0 auto;
}
.about-section__lead {
  text-align: center;
  font-size: 22px;
  padding: 0 12px;
}
@media (max-width: 820px) {
  .about-section__lead {
    text-align: left;
    font-size: 18px;
  }
}
.about-section__item {
  margin: 140px 0 0;
  padding: 0 12px;
}
@media (max-width: 820px) {
  .about-section__item {
    margin: 110px 0 0;
  }
}
.about-section__item-ttl {
  text-align: center;
  font-size: 28px;
  position: relative;
  margin: 0 0 24px;
}
.about-section__item-ttl:before {
  content: url(../img/about-section-item-ttl01.png);
  position: absolute;
  top: -23%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  z-index: -1;
}
@media (max-width: 820px) {
  .about-section__item-ttl {
    font-size: 22px;
    margin: 0 0 20px;
  }
  .about-section__item-ttl:before {
    top: -25%;
    transform: translate(-50%, -50%) scale(0.4);
  }
}
.about-section__item-ttl--second:before {
  content: url(../img/about-section-item-ttl02.png);
}
.about-section__item-ttl--second span {
  display: block;
  font-size: 12px;
}
.about-section__item-ttl--third:before {
  content: url(../img/about-section-item-ttl03.png);
}
.about-section__item-text {
  max-width: 520px;
  margin: 0 auto 24px;
}
.about-section__item-img {
  max-width: 640px;
  margin: 0 auto;
}
.about-section__bnr {
  display: block;
  max-width: 980px;
  margin: 80px auto;
}
@media (max-width: 820px) {
  .about-section__bnr {
    margin: 40px auto;
  }
}

/* =================================
導入のメリット
 ================================= */
.merit-section {
  background-color: #000;
  overflow: hidden;
}
.merit-section__ttl-wrap {
  padding: 100px 12px;
  background-image: url(../img/merit-section-bg.jpg);
  margin: 0 auto 40px;
  max-width: 1200px;
  background-size: cover;
  position: relative;
}
@media (max-width: 820px) {
  .merit-section__ttl-wrap {
    padding: 80px 12px 40px;
    margin: 0 auto;
  }
}
.merit-section__ttl {
  text-align: left;
  max-width: 500px;
  margin: 0 auto 40px;
  font-size: 48px;
  color: #fff;
  transform: translateX(280px);
}
.merit-section__ttl span {
  font-size: 34px;
}
@media (max-width: 820px) {
  .merit-section__ttl {
    font-size: 28px;
    transform: translateX(0);
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
  }
  .merit-section__ttl span {
    font-size: 24px;
  }
}
.merit-section__line {
  position: absolute;
  top: -377px;
  left: -17px;
  transform: scale(0.65);
}
@media (max-width: 820px) {
  .merit-section__line {
    display: none;
  }
}
.merit-section__content {
  margin: 0 auto 40px;
  max-width: 1200px;
  padding: 50px 12px;
}
@media (max-width: 820px) {
  .merit-section__content {
    padding: 24px 12px;
  }
}
.merit-section__item {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0 0 160px 180px;
}
@media (max-width: 820px) {
  .merit-section__item {
    flex-direction: column;
    margin: 0 auto 40px;
    gap: 12px;
  }
}
.merit-section__item--second {
  margin: 0 0 152px 280px;
}
@media (max-width: 820px) {
  .merit-section__item--second {
    margin: 0 auto 40px;
  }
}
.merit-section__item--third {
  margin: 0 0 0 180px;
}
@media (max-width: 820px) {
  .merit-section__item--third {
    margin: 0 auto;
  }
}
.merit-section__item-img {
  width: 150px;
  margin: 0 auto 20px;
}
@media (max-width: 820px) {
  .merit-section__item-img {
    width: 100px;
    margin: 0 auto 8px;
  }
}
.merit-section__item-ttl {
  color: #fff;
  text-align: center;
  font-size: 32px;
}
@media (max-width: 820px) {
  .merit-section__item-ttl {
    font-size: 24px;
  }
}
.merit-section__item-text {
  color: #fff;
}

/* =================================
改善事例
 ================================= */
.case-section {
  background-image: url(../img/case-sectio-bg.jpg);
  background-size: cover;
  padding: 80px 12px 0;
}
@media (max-width: 820px) {
  .case-section {
    padding: 40px 12px;
  }
}
.case-section__ttl-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 640px;
  margin: 0 auto 80px;
  border-top: #f0ea30 1px solid;
  border-bottom: #f0ea30 1px solid;
  padding: 24px;
}
@media (max-width: 820px) {
  .case-section__ttl-wrap {
    padding: 12px;
    gap: 16px;
  }
}
.case-section__ttl {
  color: #f0ea30;
  font-size: 60px;
}
@media (max-width: 820px) {
  .case-section__ttl {
    font-size: 32px;
  }
}
.case-section__ttl-img {
  width: 180px;
}
@media (max-width: 820px) {
  .case-section__ttl-img {
    width: 100px;
  }
}
.case-section__top-content {
  max-width: 780px;
  margin: 0 auto 60px;
}
.case-section__top-lead {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin: 0 0 60px;
}
@media (max-width: 820px) {
  .case-section__top-lead {
    flex-direction: column;
    gap: 12px;
  }
}
.case-section__top-ttl {
  max-width: 300px;
}
.case-section__top-date {
  display: flex;
  gap: 8px;
}
.case-section__top-date span {
  display: inline-block;
  width: 100px;
}
@media (max-width: 820px) {
  .case-section__top-date span {
    width: 70px;
  }
}
.case-section__top-date p {
  color: #53c2ef;
  font-size: 24px;
}
@media (max-width: 820px) {
  .case-section__top-date p {
    font-size: 16px;
  }
}
.case-section__top-list-item {
  color: #fff;
  font-size: 52px;
  max-width: 770px;
  margin: 0 auto 40px;
  line-height: 1.3;
}
@media (max-width: 820px) {
  .case-section__top-list-item {
    font-size: 22px;
    line-height: 1.8;
    margin: 0 auto 24px;
  }
}
.case-section__top-list-item span {
  color: #f0ea30;
}
.case-section__top-list-span {
  display: block;
  text-align: right;
  font-size: 20px;
  line-height: 1;
}
@media (max-width: 600px) {
  .case-section__top-list-span {
    font-size: 15px;
    text-align: left;
    margin: 0 0 0 30px;
  }
}
.case-section__top-list-span--white {
  color: #fff !important;
  font-size: 14px;
}
@media (max-width: 820px) {
  .case-section__top-list-span--white {
    text-align: right;
  }
}
.case-section__bottom-content {
  max-width: 780px;
  margin: 0 auto 80px;
}
@media (max-width: 820px) {
  .case-section__bottom-content {
    margin: 0 auto 40px;
  }
}
.case-section__bottom-text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  margin: 0 0 4px;
}
@media (max-width: 820px) {
  .case-section__bottom-text {
    font-size: 20px;
  }
}
.case-section__bottom-img {
  margin: 0 0 40px;
}
.case-section__bottom-list {
  max-width: 300px;
  margin-left: auto;
  position: relative;
}
@media (max-width: 820px) {
  .case-section__bottom-list {
    margin-top: 100px;
  }
}
.case-section__bottom-list:before {
  content: url(../img/case-section-list-img.png);
  position: absolute;
  top: -21px;
  left: -182px;
  transform: scale(0.6);
}
@media (max-width: 820px) {
  .case-section__bottom-list:before {
    transform: scale(0.4) rotate(-11deg);
    top: -107px;
    left: -105px;
  }
}
.case-section__bottom-list-item {
  color: #fff;
}
.case-section__bottom-list-item--last {
  font-size: 18px;
  margin: 0 0 0 20px;
}
.case-section__bottom-list-item--last span {
  font-size: 26px;
  font-weight: bold;
}
.case-section__bnr {
  display: block;
  max-width: 980px;
  margin: 80px auto 24px;
}
@media (max-width: 820px) {
  .case-section__bnr {
    margin: 40px auto 12px;
  }
}
.case-section__dec {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .case-section__dec {
    display: none;
  }
}
.case-section__dec img {
  display: inline-block;
  max-width: 300px;
  width: 30%;
}

/* =================================
お客様の声
 ================================= */
.voice-section {
  padding: 80px 12px 0;
}
@media (max-width: 820px) {
  .voice-section {
    padding: 40px 12px 0;
  }
}
.voice-section__ttl {
  max-width: 640px;
  margin: 0 auto 80px;
  border-top: #53c2ef 2px solid;
  border-bottom: #53c2ef 2px solid;
  padding: 12px;
  color: #53c2ef;
  font-size: 60px;
  text-align: center;
  position: relative;
}
@media (max-width: 820px) {
  .voice-section__ttl {
    font-size: 32px;
    padding: 10px;
    max-width: 90%;
    margin: 0 auto 40px;
  }
}
.voice-section__ttl::before {
  content: url(../img/voice-section-ttl01.png);
  position: absolute;
  top: -56px;
  left: -167px;
  transform: scale(0.5);
}
@media (max-width: 1120px) {
  .voice-section__ttl::before {
    left: -96px;
    transform: scale(0.4);
  }
}
@media (max-width: 820px) {
  .voice-section__ttl::before {
    left: -116px;
    top: -90px;
    transform: scale(0.3);
  }
}
.voice-section__ttl::after {
  content: url(../img/voice-section-ttl02.png);
  position: absolute;
  top: -121px;
  right: -234px;
  transform: scale(0.5);
}
@media (max-width: 1120px) {
  .voice-section__ttl::after {
    top: -167px;
    right: -158px;
    transform: scale(0.3);
  }
}
@media (max-width: 820px) {
  .voice-section__ttl::after {
    transform: scale(0.2);
    top: -171px;
    right: -182px;
  }
}
.voice-section__item {
  max-width: 640px;
  margin: 0 auto 80px;
}
@media (max-width: 820px) {
  .voice-section__item {
    margin: 0 auto 60px;
  }
}
@media (max-width: 820px) {
  .voice-section__item-name {
    max-width: 90%;
    margin: 0 auto;
  }
}
.voice-section__item-name-flex {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: -20px 0 60px 53px;
}
@media (max-width: 820px) {
  .voice-section__item-name-flex {
    margin: 8px 0 24px 0;
    gap: 12px;
  }
}
.voice-section__item-date {
  width: 70px;
  padding: 3px 0 0;
}
@media (max-width: 820px) {
  .voice-section__item-date {
    width: 50px;
    padding: 5px 0 0;
  }
}
.voice-section__item-name-text {
  color: #53c2ef;
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 820px) {
  .voice-section__item-name-text {
    font-size: 16px;
  }
}
.voice-section__text-wrap {
  max-width: 550px;
  margin: 0 auto;
}
.voice-section__item-ttl {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  margin: 0 0 24px;
}
@media (max-width: 820px) {
  .voice-section__item-ttl {
    font-size: 18px;
  }
}
.voice-section__item-ttl span {
  color: #53c2ef;
  display: block;
  font-size: 16px;
  text-align: left;
  margin: 0 0 0 43px;
}
@media (max-width: 820px) {
  .voice-section__item-ttl span {
    margin: 0 0 0 0;
  }
}
.voice-section__bottom-text-ttl {
  border-top: #53c2ef 1px solid;
  line-height: 1;
  margin: 0 0 12px;
}
.voice-section__bottom-text-ttl span {
  font-size: 14px;
  color: #fff;
  background-color: #53c2ef;
  padding: 6px 12px;
  line-height: 1;
  display: inline-block;
}
.voice-section__dec {
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
}
@media (max-width: 820px) {
  .voice-section__dec {
    display: none;
  }
}
.voice-section__dec img {
  display: inline-block;
  max-width: 300px;
  width: 30%;
}

.accordion {
  position: relative;
  margin: 0 0 40px;
}

/* ボタン */
.accordion-btn {
  background-color: #53c2ef;
  border: 1px solid #53c2ef;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  left: 0;
  margin: auto;
  padding: 0px 8px;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.2s;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}

/* 続きを読むボタンの表記 */
.accordion-btn::after {
  content: "続きを読む";
}

/* ボタンhover時のスタイル */
.accordion-btn:hover {
  background-color: #fff;
  color: #53c2ef;
}

.accordion-text {
  overflow: hidden;
  /* テキストを隠す */
  position: relative;
}

/* 最初に見えてるテキストエリアの高さ */
.accordion-text.is-hide {
  height: 100px;
}

/* テキストをグラデーションで隠す */
.accordion-text::before {
  background-image: linear-gradient(177deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.52) 20%, rgb(255, 255, 255));
  bottom: 0;
  content: "";
  height: 60px;
  /* グラデーションで隠す高さ */
  position: absolute;
  width: 100%;
}

/* 閉じるボタンの位置 */
.accordion-btn.is-show {
  bottom: -2em;
}

/* 閉じるボタンの表記 */
.accordion-btn.is-show::after {
  content: "閉じる";
}

/* 続きを見るボタンをクリックしたらテキストを隠しているグラデーションを消す */
.accordion-btn.is-show + .accordion-text::before {
  display: none;
}

/* =================================
料金プラン
 ================================= */
.plan-section {
  padding: 80px 12px;
  background-color: #000;
}
@media (max-width: 820px) {
  .plan-section {
    padding: 40px 24px 12px;
  }
}
.plan-section__ttl {
  color: #fff;
  text-align: center;
  font-size: 44px;
  margin: 0 0 80px;
}
@media (max-width: 820px) {
  .plan-section__ttl {
    font-size: 32px;
    margin: 0 0 40px;
  }
}
.plan-section__item {
  max-width: 580px;
  margin: 0 auto 80px;
}
@media (max-width: 600px) {
  .plan-section__item {
    margin: 0 auto 60px;
  }
}
.plan-section__lead {
  color: #fff;
  text-align: right;
  font-size: 22px;
  margin: 0 0 16px;
  white-space: nowrap;
}
@media (max-width: 820px) {
  .plan-section__lead {
    font-size: 18px;
    text-align: left;
    margin: 0 0 24px 110px;
  }
}
@media (max-width: 600px) {
  .plan-section__lead {
    font-size: 13px;
    margin: 0 0 8px 44px;
  }
}
.plan-section__lead--even {
  text-align: left;
}
.plan-section__lead--item04 {
  text-align: left;
  margin: 0 0 0 130px;
  font-size: 32px;
}
@media (max-width: 820px) {
  .plan-section__lead--item04 {
    margin: 0 0 0 130px;
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .plan-section__lead--item04 {
    font-size: 18px;
    text-align: center;
    margin: 0 0 4px;
  }
}
.plan-section__box {
  border: #53c2ef 1px solid;
  position: relative;
  padding: 40px 60px;
}
@media (max-width: 820px) {
  .plan-section__box {
    padding: 24px;
  }
}
@media (max-width: 600px) {
  .plan-section__box {
    padding: 18px;
  }
}
.plan-section__item-num {
  position: absolute;
  max-width: 180px;
  top: -86px;
  left: -67px;
}
@media (max-width: 820px) {
  .plan-section__item-num {
    max-width: 120px;
    top: -86px;
    left: -23px;
  }
}
@media (max-width: 600px) {
  .plan-section__item-num {
    max-width: 60px;
    top: -50px;
  }
}
.plan-section__item-num--even {
  left: auto;
  right: -67px;
}
@media (max-width: 820px) {
  .plan-section__item-num--even {
    right: auto;
    left: -23px;
  }
}
.plan-section__item-ttl {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
}
.plan-section__item-ttl span {
  display: block;
  color: #53c2ef;
  font-size: 60px;
  font-family: "Bodoni 72 Oldstyle", "Times New Roman", "Bodoni 72", serif;
  font-weight: bold;
  line-height: 0.9;
}
@media (max-width: 600px) {
  .plan-section__item-ttl span {
    font-size: 44px;
  }
}
.plan-section__place {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0.2rem;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .plan-section__place {
    font-size: 38px;
  }
}
.plan-section__place-span-left {
  font-size: 24px;
  writing-mode: vertical-rl;
  color: #53c2ef;
  letter-spacing: 0rem;
  transform: translateY(6px);
}
@media (max-width: 600px) {
  .plan-section__place-span-left {
    font-size: 16px;
  }
}
.plan-section__place-span-right {
  font-size: 24px;
  color: #53c2ef;
  letter-spacing: 0rem;
}
@media (max-width: 600px) {
  .plan-section__place-span-right {
    font-size: 16px;
  }
}
.plan-section__place-span-center {
  font-size: 32px;
  letter-spacing: 0rem;
}
.plan-section__star-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0 0 20px;
}
@media (max-width: 600px) {
  .plan-section__star-wrap {
    gap: 4px;
  }
}
.plan-section__star-text {
  color: #fff;
  font-size: 26px;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .plan-section__star-text {
    font-size: 14px;
  }
}
.plan-section__star-img {
  width: 44px;
}
.plan-section__star-img--three {
  width: 120px;
}
.plan-section__star-img--five {
  width: 200px;
}
.plan-section__words {
  color: #fff;
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
}
.plan-section__words span {
  color: #f0ea30;
}
@media (max-width: 600px) {
  .plan-section__words {
    font-size: 12px;
  }
}
.plan-section__item03-text-wrap {
  margin: 40px 0 0;
  border-top: #53c2ef 1px solid;
  border-bottom: #53c2ef 1px solid;
  padding: 12px 24px;
}
@media (max-width: 600px) {
  .plan-section__item03-text-wrap {
    padding: 12px;
    margin: 24px 0 0;
  }
}
.plan-section__item03-text-top {
  color: #53c2ef;
  text-align: center;
}
.plan-section__item03-span01 {
  color: #fff;
  font-size: 24px;
}
.plan-section__item03-span02 {
  font-size: 14px;
}
.plan-section__item03-text-bottom {
  color: #fff;
  font-size: 14px;
}
.plan-section__item04-text {
  text-align: center;
  color: #f0ea30;
  font-size: 30px;
}
@media (max-width: 820px) {
  .plan-section__item04-text {
    font-size: 18px;
  }
}

/* =================================
オプション料金
 ================================= */
.option-section {
  padding: 80px 12px;
  background-color: #1a1a1a;
}
@media (max-width: 820px) {
  .option-section {
    padding: 40px 24px 12px;
  }
}
.option-section__ttl {
  color: #fff;
  text-align: center;
  font-size: 44px;
  margin: 0 0 80px;
}
@media (max-width: 820px) {
  .option-section__ttl {
    font-size: 32px;
    margin: 0 0 40px;
  }
}
.option-section__item {
  max-width: 580px;
  margin: 0 auto 80px;
}
@media (max-width: 600px) {
  .option-section__item {
    margin: 0 auto 60px;
  }
}
.option-section__lead {
  color: #fff;
  text-align: right;
  font-size: 22px;
  margin: 0 0 16px;
  white-space: nowrap;
}
@media (max-width: 820px) {
  .option-section__lead {
    font-size: 18px;
    text-align: center;
    margin: 0 0 8px;
  }
}
@media (max-width: 600px) {
  .option-section__lead {
    font-size: 13px;
  }
}
.option-section__lead--even {
  text-align: left;
}
@media (max-width: 820px) {
  .option-section__lead--even {
    text-align: center;
  }
}
.option-section__lead--item04 {
  text-align: left;
  margin: 0 0 0 130px;
  font-size: 32px;
}
@media (max-width: 820px) {
  .option-section__lead--item04 {
    margin: 0 0 0 130px;
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .option-section__lead--item04 {
    font-size: 18px;
    text-align: center;
    margin: 0 0 4px;
  }
}
.option-section__box {
  border: #53c2ef 1px solid;
  position: relative;
  padding: 40px 60px;
}
@media (max-width: 820px) {
  .option-section__box {
    padding: 24px;
  }
}
@media (max-width: 600px) {
  .option-section__box {
    padding: 18px;
  }
}
.option-section__item-num {
  position: absolute;
  max-width: 150px;
  top: -52px;
  left: -2px;
}
@media (max-width: 820px) {
  .option-section__item-num {
    max-width: 120px;
    top: -1px;
  }
}
@media (max-width: 600px) {
  .option-section__item-num {
    max-width: 60px;
  }
}
.option-section__item-num--even {
  left: auto;
  right: -1px;
}
.option-section__item-ttl {
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .option-section__item-ttl {
    font-size: 16px;
  }
}
.option-section__item-ttl span {
  color: #53c2ef;
  font-size: 60px;
  font-family: "Bodoni 72 Oldstyle", "Times New Roman", "Bodoni 72", serif;
  font-weight: bold;
  vertical-align: middle;
  margin: 0 12px 0 0;
}
@media (max-width: 600px) {
  .option-section__item-ttl span {
    font-size: 44px;
  }
}
.option-section__item-ttl--block span {
  display: block;
}
.option-section__place {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  line-height: 1.6;
  margin: 0 0 12px;
}
.option-section__place--item04 {
  margin: 0 auto 40px;
  width: 300px;
  position: relative;
}
@media (max-width: 600px) {
  .option-section__place {
    font-size: 38px;
  }
}
.option-section__place-span-left {
  font-size: 24px;
  writing-mode: vertical-rl;
  color: #53c2ef;
  letter-spacing: 0rem;
  transform: translateY(6px);
}
@media (max-width: 600px) {
  .option-section__place-span-left {
    font-size: 16px;
  }
}
.option-section__place-span-right {
  font-size: 24px;
  color: #53c2ef;
  letter-spacing: 0rem;
}
@media (max-width: 600px) {
  .option-section__place-span-right {
    font-size: 16px;
  }
}
.option-section__place-span-center {
  font-size: 32px;
  letter-spacing: 0rem;
}
.option-section__words {
  color: #fff;
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
}
.option-section__words span {
  color: #53c2ef;
  display: block;
}
@media (max-width: 600px) {
  .option-section__words {
    font-size: 12px;
  }
}
.option-section__item03-text-wrap {
  margin: 40px 0 0;
  border-top: #53c2ef 1px solid;
  border-bottom: #53c2ef 1px solid;
  padding: 12px 24px;
}
@media (max-width: 600px) {
  .option-section__item03-text-wrap {
    padding: 12px;
    margin: 24px 0 0;
  }
}
.option-section__item03-text-top {
  color: #53c2ef;
  text-align: center;
}
.option-section__item03-span01 {
  color: #fff;
  font-size: 24px;
}
.option-section__item03-span02 {
  font-size: 14px;
}
.option-section__item03-text-bottom {
  color: #fff;
  font-size: 14px;
}
.option-section__place-item04-img {
  position: absolute;
  width: 300px;
  bottom: -22px;
  left: 4px;
}
@media (max-width: 820px) {
  .option-section__place-item04-img {
    width: 260px;
    bottom: -27px;
  }
}
@media (max-width: 600px) {
  .option-section__place-item04-img {
    width: 240px;
    bottom: -18px;
    left: 19px;
  }
}

/* =================================
製品仕様一覧
 ================================= */
.spec-section {
  padding: 80px 12px;
}
@media (max-width: 820px) {
  .spec-section {
    padding: 40px 12px 12px;
  }
}
.spec-section__ttl {
  text-align: center;
  max-width: 340px;
  font-size: 44px;
  margin: 0 auto 80px;
  position: relative;
}
.spec-section__ttl:before {
  content: url(../img/spec-section-ttl-img.png);
  position: absolute;
  top: -70px;
  right: -143px;
  transform: scale(0.6);
}
@media (max-width: 820px) {
  .spec-section__ttl:before {
    top: -83px;
    right: -52px;
    transform: scale(0.3);
  }
}
@media (max-width: 820px) {
  .spec-section__ttl {
    font-size: 32px;
    margin: 0 0 40px;
  }
}
.spec-section__table-wrap {
  overflow-x: scroll;
}
.spec-section__content {
  max-width: 1200px;
  margin: 0 auto;
}
.spec-section__table {
  width: 1600px;
  border-collapse: collapse;
}
@media (max-width: 820px) {
  .spec-section__table {
    width: 1200px;
  }
}
.spec-section__table th,
.spec-section__table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 220px;
  height: 100px;
  vertical-align: middle;
}
@media (max-width: 820px) {
  .spec-section__table th,
  .spec-section__table td {
    width: 160px;
    height: 80px;
    padding: 2px;
  }
}
.spec-section__table th {
  background-color: #e2ece8;
  border: 4px solid #fff;
  font-weight: normal;
  font-size: 15px;
}
@media (max-width: 820px) {
  .spec-section__table th {
    font-size: 14px;
  }
}
.spec-section__table td {
  border-left: none;
  border-right: none;
  font-size: 32px;
  position: relative;
  padding: 8px 0 18px;
}
.spec-section__table td span {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  white-space: nowrap;
  color: #1a1a1a;
}
.spec-section__table td.spec-section__td-text {
  font-size: 18px;
}
@media (max-width: 820px) {
  .spec-section__table td.spec-section__td-text {
    font-size: 14px;
    line-height: 1.2;
  }
}
.spec-section__table td.spec-section__td-red {
  color: #e00000;
}
.spec-section__td-ttl {
  position: relative;
}
.spec-section__td-img {
  position: absolute;
  top: -6px;
  left: 0;
  padding: 0 !important;
  width: 260px !important;
}
@media (max-width: 820px) {
  .spec-section__td-img {
    width: 220px !important;
  }
}

/* =================================
よくあるお問合せ
 ================================= */
.faq-section {
  padding: 20px 12px 80px;
}
@media (max-width: 820px) {
  .faq-section {
    padding: 40px 12px 40px;
  }
}
.faq-section__ttl {
  text-align: center;
  font-size: 44px;
  margin: 0 auto 40px;
  position: relative;
  color: #53c2ef;
}
@media (max-width: 820px) {
  .faq-section__ttl {
    font-size: 32px;
    margin: 0 0 24px;
  }
}

/* FAQコンテンツ */
.faq_list {
  max-width: 800px;
  margin: 0 auto;
}

.faq_list .item {
  margin-top: -1px;
}

.faq_list .question {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #ddd;
  line-height: 1.8;
  padding: 23px 55px 19px 30px;
  position: relative;
  background: #fff;
  transition: all 0.2s ease;
}
@media (max-width: 820px) {
  .faq_list .question {
    padding: 12px 55px 12px 12px;
  }
}

.faq_list .question:before {
  content: "";
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 13px;
  height: 1px;
  background: #000;
}

.faq_list .question:after {
  content: "";
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 13px;
  background: #000;
  position: absolute;
}

.faq_list .question.active:after {
  display: none;
}

.faq_list .answer {
  border: 1px solid #ddd;
  border-top: none;
  padding: 48px 55px 50px;
  background: #f7f7f7;
}
@media (max-width: 820px) {
  .faq_list .answer {
    padding: 12px;
  }
}

.faq_list .answer p {
  line-height: 2.4;
}

.faq_list .answer p span {
  background: linear-gradient(transparent 60%, #ff6 60%);
}

/* =================================
お問合せ
 ================================= */
.contact-section {
  padding: 80px 12px;
  background-color: #999999;
}
@media (max-width: 820px) {
  .contact-section {
    padding: 40px 12px;
  }
}
.contact-section__ttl {
  text-align: center;
  font-size: 44px;
  margin: 0 auto 40px;
  position: relative;
  color: #ffffff;
}
@media (max-width: 820px) {
  .contact-section__ttl {
    font-size: 32px;
    margin: 0 0 24px;
  }
}
.contact-section__content {
  max-width: 980px;
  margin: 0 auto;
}
.contact-section__text {
  margin: 0 0 40px;
  text-align: center;
}
@media (max-width: 820px) {
  .contact-section__text {
    text-align: left;
    margin: 0 0 8px;
  }
}
.contact-section__text span {
  color: #ed1c24;
}
.contact-section__form-wrap {
  background-color: #fff;
  padding: 40px;
  margin: 0 0 40px;
}
@media (max-width: 820px) {
  .contact-section__form-wrap {
    padding: 12px 12px 24px;
  }
}
.contact-section__form-table {
  width: 100%;
}
.contact-section__form-table th {
  text-align: left;
  color: #000000;
  padding: 14px 0 24px;
  width: 280px;
  vertical-align: middle;
  font-weight: normal;
  font-size: 16px;
}
@media (max-width: 1120px) {
  .contact-section__form-table th {
    width: 180px;
  }
}
@media (max-width: 820px) {
  .contact-section__form-table th {
    width: 100%;
    display: block;
    padding: 16px 0 2px;
    font-size: 14px;
  }
}
.contact-section__form-table th span {
  color: #ed1c24;
  display: inline-block;
  margin: 0 0 0 8px;
}
.contact-section__form-table td {
  padding: 16px 0 0;
  font-size: 16px;
}
@media (max-width: 820px) {
  .contact-section__form-table td {
    width: 100%;
    display: block;
    padding: 0 0 0;
    font-size: 14px;
  }
}
.contact-section__input {
  border: #898989 1px solid;
  width: 100%;
  padding: 8px;
}
.contact-section__textarea {
  border: #898989 1px solid;
  width: 100%;
  padding: 8px;
}
.contact-section__bottom-text {
  text-align: center;
  margin: 0 0 12px;
}
.contact-section__last-text-link {
  color: #158ecf;
  text-decoration: underline;
}
.contact-section__checkbox-wrap {
  text-align: center;
  margin: 0 0 40px;
}
.contact-section__checkbox-wrap label {
  color: #000;
}
@media (max-width: 820px) {
  .contact-section__checkbox-wrap {
    margin: 0 0 24px;
  }
}
.contact-section__btn {
  width: 200px;
  display: flex;
  height: 46px;
  justify-content: center;
  align-items: center;
  background: #000;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 0 45px 0 25px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 50px;
  margin: 0 auto;
}
.contact-section__input-wrap .wpcf7-list-item {
  width: 100%;
  display: inline-block;
}

/* =================================
フッター
 ================================= */
.footer {
  background-color: #000;
  padding: 60px 16px 24px;
  color: #fff;
  position: relative;
}
.footer p,
.footer a {
  color: #fff;
}
.footer__logo {
  display: block;
  max-width: 200px;
  margin: 0 auto 40px;
  align-items: center;
  gap: 16px;
}
@media (max-width: 820px) {
  .footer__logo {
    flex-direction: column;
  }
}
.footer__menu-wrap {
  display: flex;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 820px) {
  .footer__menu-wrap {
    flex-wrap: wrap;
    gap: 8px;
  }
}
.footer__menu-item {
  font-size: 16px;
}
@media (max-width: 820px) {
  .footer__menu-item {
    margin: 0 8px;
    font-size: 14px;
  }
}
@media (max-width: 820px) {
  .footer__menu-item--copy {
    width: 100%;
    text-align: center;
  }
}
.footer__go-top {
  width: 60px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
@media (max-width: 820px) {
  .footer__go-top {
    width: 40px;
    right: 20px;
    bottom: auto;
    top: 10px;
  }
}/*# sourceMappingURL=style.css.map */